#body {
  background: #ebebeb;
}

/* navegador */

.navbar-brand {
  font-size: 30px;
  text-align: center;
  font-style: italic;
  padding: 10px;
}

.navbar {
  font-size: 20px;
  font: bold;
}

/* CONTACTOS */
/* titulo principal */
.contacto__h1__titulo {
  font-family: "Playfair Display", serif;
  text-align: center;
  letter-spacing: 5px;
  padding: 2%;
  font-weight: 500;
}
/* titulo secundario */
.contacto__h2__titulo2 {
  background-color: #eee;
  letter-spacing: 15px;
  justify-content: center;
  text-align: center;
  display: block;
  width: 100%;
  padding: 15px;
  font-weight: 500;
}

/* titulos formularios */
.contacto__nombres__formularios {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* textarea */
.contacto__div__textarea {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

/* formularios */
.contacto__forms {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 40%;
  margin-left: 40%;
}

/* id formularios */
#contacto {
  display: flex;
  justify-content: center;
}

/* botones de check */
.contacto__div__checkForm {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-check-input {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

/* boton enviar */
.contacto__botonEnviar {
  background: black;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  text-shadow: none;
  width: 80px;
  height: 30px;
  margin: 10px;
}

/* linea hr divisoria */
.footer_hr {
  height: 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contacto_h2_preguntas {
  text-align: center;
  font-size: 40px;
}

.textoIconos {
  text-overflow: ellipsis;
  overflow: hidden;
}

#footer {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
  text-align: center;
}

#legal {
  font-family: "Patrick Hand", cursive !important;
  background-color: black;
  text-align: center;
  padding: 0.5rem 0rem;
  color: #dbcaca;
  margin-bottom: auto;
}

.iconosRedes {
  padding-top: 5px;
  padding-bottom: 10px;
}

.card-img-top{
max-width: 300px;
max-height: 350px;
}

.banner{
display: flex;
  padding-top: 10px;
  padding-left: 30%;
  padding-right: 40%;
}

.h1{
  display: flex;
  justify-content: center;
}

.img-fuid{
  max-width: 100%;
  height: auto;
}

.tarjetas{
background: url("http://4.bp.blogspot.com/-_EeHodxrNGE/Tri1sQD4C2I/AAAAAAAAPkY/fl4WFN6JTe4/s1600/Fondo-de-Navidad-657481.jpg");
background-size: auto;
}
